{{< base}}
  {{$title}}Login{{/title}}

  {{$body}}
  <div class="container center-align narrow">
    {{> fragments/error_message}}
    <form method="post" action="/auth/login">
      <input name="username" class="short-input full" type="text" placeholder="Username">
      <input name="password" class="short-input full" type="password" placeholder="Password">
      <button type="submit" class="action-button">Login</button>
      <a class="link" href="/auth/register">Click here Register</a>
    </form>
  </div>
  {{/body}}
{{/base}}
