    <div class="">
        {{> fragments/error_message}}
        <form method="post" action="/login">
            <input name="username" class="" type="text" placeholder="Username">
            <input name="password" class="" type="password" placeholder="Password">
            <button type="submit" class="">Login</button>
            <a class="" href="/register">Register</a>
        </form>
    </div>