    <div class="container center-align narrow">
        {{> fragments/error_message}}
        <form method="post" action="/register">
            <input name="firstName" class="" type="text" placeholder="First Name">
            <input name="lastName" class="" type="text" placeholder="Last Name">
            <input name="username" class="" type="text" placeholder="Username">
            <input name="password" class="" type="password" placeholder="Password">
            <input name="passwordRepeat" class="" type="password" placeholder="Repeat Password">
            <button type="submit" class="action-button">Register</button>
        </form>
    </div>