{{< base}}
  {{$title}}Set Details{{/title}}

  {{$body}}
    <div>
        <h1 class="details-header">Set Details</h1>
    </div>

    <div class="">
        <ul>
                {{#flashcards}}
                        {{> fragments/flashcard }}
                {{/flashcards}}
        </ul>  
    <div>
  {{/body}}
{{/base}}