{{< base}}
  {{$title}}My Profile{{/title}}

  {{$body}}
  <div class="user-container">
    {{> fragments/error_message}}
    <!-- User Info -->
    <div class="profile-info">
      <h2 class="profile-name">{{firstName}} {{lastName}}</h2>
      <p class="profile-username">@{{username}}</p>
      <div>Total Sets: {{setCount}}</div>
    </div>

    <!-- Their Sets -->
    <section class="profile-sets">
      <h3>Users Sets</h3>
      <div class="set-list">
        {{#sets}}
          {{> fragments/set_preview}}
        {{/sets}}
        {{^sets}}
          <p>User hasn't created any sets yet.</p>
        {{/sets}}
      </div>
    </section>
  </div>
  {{/body}}
{{/base}}
