<div class="folder-item">
  <div class="folder-card"> 
      <a href="/folders/{{folderId}}">
          <div class="folder-icon">📁</div>
          <div class="folder-name">{{folderName}}</div>
      </a>
  </div>
</div>