<footer class="site-footer">
  <div class="footer-container">  
    <p class="footer-note">Term Project for 4370 Databases</p>
    <p>Created By: Adam Wright, Connor Stephens, Will Gresham</p>
  </div>
</footer>
