<nav class="navbar">
  <a href="/" class="navbar-title">Flashi</a>
  <ul class="nav-links">
      <li><a class="nav-button" href="/profile">Profile</a></li>
      <li>
        <form method="post" action="/logout" style="display:inline">
          <button type="submit" class="nav-button">Logout</button>
        </form>
      </li>
      <li><a  class="nav-button" href="/auth/login">Login</a></li>
      <li><a  class="nav-button" href="/auth/register">Register</a></li>
  </ul>
</nav>
