<nav class="navbar">
  <a href="/" class="navbar-title">FlashCards</a>
  <ul class="nav-links">
    {{#authenticated}}
      <li><a class="nav-button" href="/profile/currentUser">Profile</a></li>
      <li>
        <form action="/logout" method="post" style="display:inline">
          <button type="submit" class="nav-button">Logout</button>
        </form>
      </li>
    {{/authenticated}}

    {{^authenticated}}
      <li><a href="/auth/login" class="nav-button">Login</a></li>
      <li><a href="/auth/register" class="nav-button">Register</a></li>
    {{/authenticated}}
  </ul>
</nav>
