<div class="set-preview">
  <div class="set-prev-header">
    <h2 class="set-title">{{setName}}</h2>
    <span class="set-category">{{setCategory}}</span>
    <p class="set-author">By {{username}}</p>
  </div>
  <div class="set-prev-body">
    <p class="set-description">{{setDescription}}</p>
  </div>
</div>
