<a href="/set-details?setId={{setId}}">
  <div class="set-preview">
    <div class="set-prev-header">
      <h2 class="set-title">{{name}}</h2>
        <span class="set-category">{{category}}</span>
    </div>
    <div class="set-prev-body">
      <p class="set-description">{{desc}}</p>
    </div>
  </div>
</a>

